go 1.22.0

use (
	./ch02-variables/01-basic-types
	./ch02-variables/02-short-declarations
	./ch02-variables/03-type-interference
	./ch02-variables/04-same-line-declarations
	./ch02-variables/05-type-sizes
	./ch02-variables/07-constants
	./ch02-variables/08-computed-constants
	./ch02-variables/09-formatting-strings
	./ch02-variables/10-conditionals
	./ch03-functions/01-intro
	./ch03-functions/04-pass-by-value
	./ch03-functions/05-ignoring-return-values
	./ch03-functions/06-named-return-values
	./ch04-structs/01-intro
	./ch04-structs/02-nested-structs
	./ch04-structs/04-embedded-structs
	./ch04-structs/05-methods
	./ch05-interfaces/01-interfaces
	./ch05-interfaces/02-implements
	./ch05-interfaces/05-multiple-interfaces
	./ch05-interfaces/07-type-assertion
	./ch05-interfaces/08-type-switch
	./ch06-errors/01-errors
	./ch06-errors/02-formatting-strings
	./ch06-errors/03-custom-errors
	./ch06-errors/05-errors-package
	./ch07-loops/01-intro
	./ch07-loops/02-omit-condition
	./ch07-loops/03-while
	./ch07-loops/04-loops-fizzbuzz
	./ch07-loops/05-continue-and-break
	./ch08-slices/01-arrays
	./ch08-slices/02-slices
	./ch08-slices/04-slices-no-array
	./ch08-slices/06-variadic-functions
	./ch08-slices/07-append
	./ch08-slices/08-2d-slices
	./ch08-slices/11-range
	./ch09-maps/01-maps
	./ch09-maps/02-mutating-maps
	./ch09-maps/04-maps-count
	./ch09-maps/06-nested-maps
	./ch10-advanced-functions/01-higher-order
	./ch10-advanced-functions/03-currying
	./ch10-advanced-functions/04-defer
)
