go 1.22.0

use (
	./ch02-variables/01-basic-types
	./ch02-variables/02-short-declarations
	./ch02-variables/03-type-interference
	./ch02-variables/04-same-line-declarations
	./ch02-variables/05-type-sizes
	./ch02-variables/07-constants
	./ch02-variables/08-computed-constants
	./ch02-variables/09-formatting-strings
	./ch02-variables/10-conditionals
	./ch03-functions/01-intro
	./ch03-functions/04-pass-by-value
	./ch03-functions/05-ignoring-return-values
	./ch03-functions/06-named-return-values
	./ch04-structs/01-intro
	./ch04-structs/02-nested-structs
	./ch04-structs/04-embedded-structs
)
